PORT=8000
MONGO_URI=mongodb+srv://oceansindhu:shopmate123@cluster0.toxaujj.mongodb.net/shopmate?appName=Cluster0
JWT_SECRET=shopmate_super_secret_key_2024
RAZORPAY_KEY_ID=rzp_test_SryvP4Hd7jwvnP
RAZORPAY_KEY_SECRET=Wd4gyAFnZDoq5a0ZTYhQpwgQ
EMAIL_USER=shopmate2026@gmail.com
EMAIL_PASS=vuxh rwdv dspz yppq